# -------------------------------------
# macOS
# -------------------------------------
.DS_Store

# -------------------------------------
# IntelliJ IDEA
# -------------------------------------
.idea/
*.iml
out/

# -------------------------------------
# Maven
# -------------------------------------
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# -------------------------------------
# Spring Boot
# -------------------------------------
*.log

# -------------------------------------
# Java
# -------------------------------------
*.class

# -------------------------------------
# Docker
# -------------------------------------
# Ignore Docker build output folders if any
docker-volume/
docker-data/

# -------------------------------------
# Logs & Temp
# -------------------------------------
*.log
*.tmp
*.swp

# -------------------------------------
# OS + Editor Config
# -------------------------------------
Thumbs.db